.header-image {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.6)),
    url("../../assets/images/rooms_header.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  // background-size: contain;
  background-position: center;
  margin-bottom: 40px;
}
.from-top {
  background-color: black;
  height: 40px;
}
