.table-container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
}
@media only screen and (max-width: 515px) {
  .responsive {
    padding: 4px !important;
  }
}

tr {
  height: 40px !important;
}
.cell-xs {
  max-width: 35px;
  min-width: 35px;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
}
.cell-sm {
  max-width: 50px !important;
  min-width: 50px !important;
  padding: 5px 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
}
.cell-md {
  max-width: 70px !important;
  min-width: 70px !important;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
}

th {
  max-width: 125px;
  min-width: 125px;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
}

td {
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
}
